.navbar-default{
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}
/* Navbar Styles */

.navbar-default .navbar-nav>li>a{
  font-size: 25px;
}
.navbar-toggle{
  margin:10px 0;
  background:#36C;
  color: #343a40;
}
.navbar-nav>li>a:hover{
  text-decoration: underline;
  text-decoration-color: #343a40;
}