<div class="parallax parallax-image-1">
	<br><br><br><br><br><br><br><br><br><br>
	<h1 class="text-light text-center">
		<span class="txt-rotate text-light" data-period="2000" data-rotate='["Hello, World!", "Hello, Visitor!"]'></span>
	</h1>
	<!-- <img src="assets/image/GC.png" class="img-fluid d-block mx-auto w-auto h-50"> -->
	<p class="text-light text-center">Glenn Carlo Baquero</p>
</div>
<div class="section-about bg-dark">
	<br><br><br><br><br><br><br><br><br><br>
	
</div>
<div class="parallax parallax-image-2" ></div>
